:root {
  --form-height: 3.75rem; //60px
  --form-radius: 1.3rem; //20px

  --primary: #6C40B5;
  --secondary: #666666;
  --danger: #d20000;
  --danger-bg: #d200000f;
  --text: #000;
  --bg: url("../img/bg-light.png");
  --input-bg: rgba(255,255,255,.2);
  --card-bg: linear-gradient(180deg, rgba(255,255,255,.5) 0%, rgba(255,255,255,.2) 100%);
  --card-secondary-bg: rgba(255,255,255,.2);
  --card-border-color: rgba(255,255,255,.5);
  --temp-color: var(--primary);
  --history-item-bg: rgba(255,255,255,.4);
  --link-color: var(--primary);
  --datetime-color: #000;
  --btn-icon-secondary-bg: #fff;
  --btn-icon-secondary-border-color: #fff;
  --icon-color: var(--primary);
}

[data-theme='dark'] {
    --primary: #28124D;
    --secondary: #a3a3a3;
    --danger: #ff2121;
    --danger-bg: #ff21210f;
    --text: #fff;
    --bg: url("../img/bg-dark.png");
    --input-bg: rgba(26,26,26,.5);
    --card-bg: rgba(26,26,26,.3);
    --card-secondary-bg: rgba(26,26,26,.3);
    --card-border-color: transparent;
    --temp-color: #fff;
    --history-item-bg: rgba(26,26,26,.5);
    --link-color: #fff;
    --datetime-color: #a3a3a3;
    --btn-icon-secondary-bg: transparent;
    --btn-icon-secondary-border-color: #a3a3a3;
    --icon-color: #fff;
  }